<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}"/>
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    </head>
    <body>
        <header th:fragment="nav">
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Cronogramas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{\buscarCronogramas}">Administrar cronogramas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ausencias</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Administrar vacaciones</a></li>
                        <li><a class="dropdown-item" href="#">Administrar cronogramas</a></li>
                        <li><a class="dropdown-item" href="#">Administrar incapacidades</a></li>
                        <li><a class="dropdown-item" th:href="@{/feriados}">Administrar colectivos</a></li>
                        <li><a class="dropdown-item" th:href="@{/motivos}">Administrar motivos</a></li>
                        <li><a class="dropdown-item" href="#">Otros</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuarios</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Administrar profesores</a></li>
                        <li><a class="dropdown-item" href="#">Administradores de Servicios</a></li>
                    </ul>
                </li>
            </ul>
        </header>
    </body>
</html>
