<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla1 ::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        
    </head>
    <body>
        <div class="container">
            <header th:replace="plantillas/plantilla1 ::nav">

            </header>
            
            <h1>Lista de Motivos</h1>
            <div class="row mt-2">
                <div class="col-9">
                    <form th:action="@{/filtrarMotivos}" method="post">
                        <div class="input-group">
                            <input type="text" name="txtTexto" 
                                   placeholder="Escribe un motivo"
                                   class="form-control"/>
                            <input type="submit"
                                   class="btn btn-primary" value="buscar"/>
                        </div>

                    </form>
                </div>
                <div class="col-3">
                    <a th:href="@{/nuevoMotivo}" class="btn btn-primary mx-auto"><i class="fas fa-plus"></i> Nuevo Motivo</a>
                </div>
            </div>

            <div th:if="${ msg != null and !msg.empty}">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Mensaje:</strong> 
                        <p th:text="${msg}"></p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <span th:attr="msg=@{null}"></span>
                    </div>
                </div>


            <div th:if="${motivos != null and !motivos.empty}">
                <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Motivo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="mot:${motivos}">
                            <td th:text="${mot.idMotivo}"></td>
                            <td th:text="${mot.justificacion}"></td>
                            <td>
                                <a th:href="@{/editarMotivo/} + ${mot.idMotivo}">
                                    <i class="fas fa-edit"></i> Editar</a> |
                                <a th:href="@{/eliminarMotivo/} + ${mot.idMotivo}">
                                    <i class="fas fa-minus"></i> Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div th:if="${motivos == null or moivos.empty}">
                No hay motivos de ausencia en la base de datos
            </div>
        </div>
            
    </body>

</html>
